* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    margin-top: 50px;
    font-size: 25px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#search-btn {
    border: none;
    background-color: blue;
    color: aliceblue;
    border-radius: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
}